<h3  mat-dialog-title>{{data.title}}</h3>
<div mat-dialog-content>
  <div class="ios-alert__icon">
    <mat-icon *ngIf="data.style === 'warning'" class="ios-alert__warning">warning</mat-icon>
    <mat-icon *ngIf="data.style === 'error'" class="ios-alert__error">error</mat-icon>
    <mat-icon *ngIf="data.style === 'success'" class="ios-alert__success">done</mat-icon>
  </div>
  <div class="ios-alert__description">
    {{data.description}}
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="dialogRef.close()">Dismiss</button>
</div>
