<div class="invoice" id="print-receipt">
  <section class="invoice__logo">
    <img src="assets/brand/logo_0.png" alt="Steward | Bank">
  </section>
  <section class="invoice__title">
    <div></div>
    <div>
      <h2>RECEIPT</h2>
    </div>
    <div></div>
  </section>
  <section class="invoice__clientInfo">
    <div class="user">
      <h1>Invoice To</h1>
      <strong>{{data?.customerFullName}}</strong>
      <p>{{data?.customerAddress.split(',').join('\n')}}</p>
    </div>
    <div class="transaction">
      <strong>RECEIPT</strong>
      <p>{{data?.transactionReference}}</p>
      <strong>AGENT</strong>
      <p> {{agent?.organization.companyName}} ({{agent?.branch.name}}) ({{data?.agentCode}})</p>
      <strong>TELLER</strong>
      <p> {{agent?.firstName}} {{agent?.lastName}}</p>
    </div>
  </section>
  <section class="invoice__transactionInfo">
    <table>
      <tr>
        <th>({{data?.currencySwitchedTo}})AMOUNT</th>
        <th>EXCHANGE RATE</th>
        <th>({{data?.currencyBought}})TOTAL</th>
      </tr>
      <tr>
        <td>{{data?.cashPaid || data?.amountPaid}}</td>
        <td>{{data?.rateUsed}}</td>
        <td>{{convert(data?.fcaAmount)}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </section>
  <section class="invoice__bankingInfo">
    <div class="info">
      <h3><strong>Thank you for your business</strong></h3>
      <h3><strong>Terms & Conditions</strong></h3>
      <p>www.stewardbank.co.zw/customer-service/contacts/mobile-banking-terms-and-conditions</p>
    </div>
    <div class="total">
      <div class="subTotal">
        <strong>SUB TOTAL</strong>
        <td>{{convert(data?.fcaAmount)}}</td>
        <strong>TAX</strong>
        <p>--</p>
        <strong>FEES</strong>
        <p>--</p>
      </div>
      <div class="added">
        <strong>Total</strong>
        <td>{{convert(data?.fcaAmount)}}</td>
      </div>
    </div>
  </section>
  <section *ngIf="data?.cashPaid === null" class="invoice__paymentInfo">
    <h3><strong>Payment Info:</strong></h3>
    <div class="account">
      <strong>ACCOUNT:</strong>
      <p>{{data?.beneficiaryAccount}}</p>
      <strong>A/C NAME</strong>
      <p>{{data?.customerFullName}}</p>
      <strong>BANK DETAILS</strong>
      <p>STEWARD BANK</p>
    </div>
  </section>
  <section *ngIf="true" class="invoice__paymentInfo">
    <p></p>
  </section>
  <section class="invoice__footer">
    <img src="assets/brand/logo-alt.png" alt="Steward | Bank">
    <p> www.stewardbank.co.zw | Member of the Deposit Protection Scheme | A registered commercial bank</p>
  </section>
</div>
<section class="button-center pt-1">
  <button mat-raised-button [useExistingCss]="true" printSectionId="print-receipt" ngxPrint color="primary">Print
  </button>
</section>
