<app-card>
  <form [formGroup]="organizationForm" (ngSubmit)="onSubmit()">

    <section class="row pc-2">
      <div class="col-xs-6">
        <div class="form__group field">
          <input type="text" placeholder="Company name" formControlName="companyName" class="form__field"
                 id="companyName"/>
          <em class="material-icons form__icon">
            account_circle
          </em>
          <label for="companyName" class="form__label">Company name</label>
          <div class="form__error" *ngIf="submitted && f.companyName.errors">
            <p *ngIf="f.companyName.errors.required">
              Please enter company name
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form__group field">
          <input type="text" placeholder="User number" formControlName="companyNumber" class="form__field"
                 id="companyNumber"/>
          <em class="material-icons form__icon">
            account_circle
          </em>
          <label for="companyNumber" class="form__label">Company registration number</label>
          <div class="form__error" *ngIf="submitted && f.companyNumber.errors">
            <p *ngIf="f.companyNumber.errors.required">
              Please enter company number
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="row pc-2">
      <div class="col-xs-6">
        <div class="form__group field">
          <input type="text" placeholder="User number" formControlName="contactPersonMobile" class="form__field"
                 id="contactPersonMobile"/>
          <em class="material-icons form__icon">
            account_circle
          </em>
          <label for="contactPersonMobile" class="form__label">Contact mobile</label>
          <div class="form__error" *ngIf="submitted && f.contactPersonMobile.errors">
            <p *ngIf="f.contactPersonMobile.errors.required">
              Please enter mobile number
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form__group field">
          <input type="text" placeholder="User number" formControlName="contactPersonName" class="form__field"
                 id="contactPersonName"/>
          <em class="material-icons form__icon">
            account_circle
          </em>
          <label for="contactPersonName" class="form__label">Contact person</label>
          <div class="form__error" *ngIf="submitted && f.contactPersonName.errors">
            <p *ngIf="f.contactPersonName.errors.required">
              Please enter persons' name
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="row pc-2">
      <div class="col-xs-6">
        <div class="form__group field">
          <input type="text" placeholder="User number" formControlName="emailAddress" class="form__field"
                 id="emailAddress"/>
          <em class="material-icons form__icon">
            account_circle
          </em>
          <label for="emailAddress" class="form__label">email</label>
          <div class="form__error" *ngIf="submitted && f.emailAddress.errors">
            <p *ngIf="f.emailAddress.errors.required">
              Please enter email
            </p>
            <p *ngIf="f.emailAddress.errors.email">
              Please enter a valid email
            </p>
          </div>
        </div>
      </div>
<!--      <div class="col-xs-6">-->
<!--        <div class="form__group field">-->
<!--          <input type="text" placeholder="User number" formControlName="organizationLogoUrl" class="form__field"-->
<!--                 id="organizationLogoUrl"/>-->
<!--          <em class="material-icons form__icon">-->
<!--            account_circle-->
<!--          </em>-->
<!--          <label for="organizationLogoUrl" class="form__label">Logo Url</label>-->
<!--          <div class="form__error" *ngIf="submitted && f.organizationLogoUrl.errors">-->
<!--            <p *ngIf="f.organizationLogoUrl.errors.required">-->
<!--              Please enter required URL-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </section>
    <section class="row pc-2">
      <div class="col-xs-6">
        <div class="form__group field">
          <input type="text" placeholder="User number" formControlName="physicalAddress" class="form__field"
                 id="physicalAddress"/>
          <em class="material-icons form__icon">
            account_circle
          </em>
          <label for="physicalAddress" class="form__label">Physical address</label>
          <div class="form__error" *ngIf="submitted && f.physicalAddress.errors">
            <p *ngIf="f.physicalAddress.errors.required">
              Please enter required address
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form__group field">
          <input type="text" placeholder="User number" formControlName="tradingName" class="form__field"
                 id="tradingName"/>
          <em class="material-icons form__icon">
            account_circle
          </em>
          <label for="tradingName" class="form__label">Trading name</label>
          <div class="form__error" *ngIf="submitted && f.tradingName.errors">
            <p *ngIf="f.tradingName.errors.required">
              Please enter required trading name
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="row  pt-2">
      <div class="col-xs-6"></div>
      <div class="col-xs-3">
        <app-button (click)="organizationForm.reset()">Reset</app-button>
      </div>
      <div class="col-xs-3">
        <app-button type="submit">Add</app-button>
      </div>
    </section>
  </form>
</app-card>
