<div class="grid-container">
  <div class="menu-icon" (click)="toggleMinimize()">
    <em class="material-icons">menu</em>
  </div>
  <app-header></app-header>
  <app-side-menu #sideNavButton>
    <div class="sidenav__close-icon" (click)="toggleMinimize()">
      <em class="material-icons">close</em>
    </div>
  </app-side-menu>
  <main class="main">
    <div class="header__dropdown" *ngIf="headerService.show">hi</div>
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
</div>
