<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" #sidenav mode="side" opened>
    <app-side-menu></app-side-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z3">
      <mat-toolbar-row class="header">
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <app-header></app-header>
        <button mat-icon-button>
          <mat-icon (click)="open()">keyboard_arrow_down</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div style="height: 82.5vh; padding: 2em">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>

</mat-sidenav-container>
