<div class="toast">
  <section class="toast__title">
<!--    <h3>{{toastPackage.title}}</h3>-->
  </section>
  <section class="toast__container">
    <div class="toast__icon">
<!--      <em *ngIf="toastPackage.toastType === 'toast-error'" class="material-icons error">report_problem</em>-->
<!--      <em *ngIf="toastPackage.toastType === 'toast-success'" class="material-icons success">check_circle</em>-->
<!--      <em *ngIf="toastPackage.toastType === 'toast-info'" class="material-icons info">info</em>-->
    </div>
<!--    <p class="toast__message">{{toastPackage.message}}</p>-->
  </section>
</div>
