<mat-card class="mb-1">
  <form [formGroup]="checkUserForm" (ngSubmit)="checkById()" class="three-col-form">
    <mat-form-field >
      <mat-label>National Id</mat-label>
      <mat-icon matPrefix>assignment_ind</mat-icon>
      <input matInput placeholder="082020936Q75" formControlName="nationalIdNumber" upperCaseInput>
      <mat-error *ngIf="submittedOne && g.nationalIdNumber.errors">
        <p *ngIf="g.nationalIdNumber.errors.required">
          Please enter a national ID
        </p>
      </mat-error>
    </mat-form-field>
    <div class="pt-1">
      <button  mat-raised-button type="submit" color="primary" class="default-button">Check customer</button>
    </div>
    <div class="pt-1">
      <button mat-raised-button (click)="addNewCustomer()" color="accent" class="default-button">Add new customer</button>
    </div>
  </form>
</mat-card>

<mat-card>
  <mat-card-title >Buy cash</mat-card-title>
  <form [formGroup]="buyCashForm" (ngSubmit)="buyCash()" class="pa-1">
    <section class="row pc-2">
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>Currency bought</mat-label>
          <mat-select id="currencySwitchedTo" formControlName="currencySwitchedTo"
                      (selectionChange)="onCurrencySwitchedToSelect($event)">
            <mat-option *ngFor="let rates of exchange" [value]="rates.buyRate">
              {{rates.ccyName}} ({{rates.currency}})
            </mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && f.currencySwitchedTo.errors">
            <p *ngIf="f.currencySwitchedTo.errors.required">
              Please enter currency
            </p>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-8">
        <mat-form-field >
          <mat-label>Amount bought</mat-label>
          <input matInput placeholder="12" formControlName="cashPaid">
          <mat-error *ngIf="submitted && f.cashPaid.errors">
            <p *ngIf="f.cashPaid.errors.required">
              Please enter a amount bought
            </p>
          </mat-error>
        </mat-form-field>
      </div>
    </section>
    <section class="row pc-2">
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>Currency </mat-label>
          <mat-select id="currencyBought" formControlName="currencyBought"
                      (selectionChange)="onCurrencyBoughtSelect($event)">
            <mat-option *ngFor="let currency of currencies" [value]="currency.name">
              {{currency.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && f.currencySwitchedTo.errors">
            <p *ngIf="f.currencySwitchedTo.errors.required">
              Please enter currency
            </p>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-8">
        <h4><em>{{fcaAmount}}</em></h4>
      </div>
    </section>
    <section class="row pc-2">
      <div class="col-md-4">
        <h4>Current buying rate:</h4>
      </div>
      <div class="col-md-6">
        <h4><em>{{rateUsed}}</em></h4>
      </div>
    </section>
    <section class="row pc-2">
      <div class="col-md-6"></div>
      <div class="col-xs-3">
        <button mat-stroked-button (click)="buyCashForm.reset()" color="warn" class="default-button">Reset</button>
      </div>
      <div class="col-xs-3">
        <button mat-raised-button type="submit" class="default-button" color="primary">Transact</button>
      </div>
    </section>
  </form>
</mat-card>
