<app-card>
  <form [formGroup]="buyCashForm" (ngSubmit)="onSubmit()" class="pa-1">
    <section class="row pc-2">
      <div class="col-xs-6">
        <div class="form__group field">
          <input type="text" placeholder="first name" formControlName="cashPaid" class="form__field"
                 id="cashPaid" />
          <em class="material-icons form__icon">
            attach_money
          </em>
          <label for="cashPaid" class="form__label">Amount bought</label>
          <div class="form__error" *ngIf="submitted && f.cashPaid.errors">
            <p *ngIf="f.cashPaid.errors.required">
              Please enter amount bought
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form__group field">

          <h4>Converted amount: <em>{{fcaAmount}}</em></h4>
        </div>
      </div>
    </section>
    <section class="row pc-2">
      <div class="col-xs-6">
        <div class="form__group field">
          <label for="currencyBought"></label>
          <select name="currencyBought" id="currencyBought" formControlName="currencyBought"
                  (change)="onCurrencyBoughtSelect($event)" class="custom-select sources">
            <option value="" disabled selected>Select currency bought</option>
            <option *ngFor="let currency of currencies" [value]="currency.name">{{currency.name}}</option>
          </select>
          <div class="form__error" *ngIf="submitted && f.currencyBought.errors">
            <p *ngIf="f.currencyBought.errors.required">
              Please enter currency Bought
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form__group field">
          <label for="currencySwitchedTo"></label>
          <select name="currencySwitchedTo" id="currencySwitchedTo" formControlName="currencySwitchedTo"
                  (change)="onCurrencySwitchedToSelect($event)" class="custom-select sources">
            <option value="" disabled selected>Select currency switched to</option>
            <option *ngFor="let currency of currencies" [value]="currency.name">{{currency.name}}</option>
          </select>
          <div class="form__error" *ngIf="submitted && f.currencySwitchedTo.errors">
            <p *ngIf="f.currencySwitchedTo.errors.required">
              Please enter currency Switched To
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="row pc-2">
      <div class="col-xs-6">
        <div class="form__group field">
          <input type="text" placeholder="customerId" formControlName="customerId" class="form__field"
                 id="customerId"/>
          <em class="material-icons form__icon">
            assignment_ind
          </em>
          <label for="customerId" class="form__label">National ID</label>
          <div class="form__error" *ngIf="submitted && f.customerId.errors">
            <p *ngIf="f.customerId.errors.required">
              Please enter customer Id
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form__group field">
          <h4>Current buying rate: <em>{{rateUsed}}</em></h4>
        </div>
      </div>
    </section>
    <section class="row  pt-2">
      <div class="col-xs-3">
        <app-button (click)="checkForCustomer()">Check customer</app-button>
      </div>
      <div class="col-xs-3">
        <app-button (click)="cs.open()">Add new customer</app-button>
      </div>
      <div class="col-xs-3">
        <app-button (click)="buyCashForm.reset()">Reset</app-button>
      </div>
      <div class="col-xs-3">
        <app-button type="submit">Transact</app-button>
      </div>
    </section>
  </form>
</app-card>
