<mat-card class="mb-1">
  <form [formGroup]="checkUserForm" (ngSubmit)="checkById()" class="three-col-form">
    <mat-form-field >
      <mat-label>National Id</mat-label>
      <mat-icon matPrefix>assignment_ind</mat-icon>
      <input matInput placeholder="082020936Q75" formControlName="nationalIdNumber">
      <mat-error *ngIf="submittedID && g.nationalIdNumber.errors">
        <p *ngIf="g.nationalIdNumber.errors.required">
          Please enter a national ID
        </p>
      </mat-error>
    </mat-form-field>
    <div class="pt-1">
      <button  mat-raised-button type="submit" color="primary" class="default-button">Check customer</button>
    </div>
    <div class="pt-1">
      <button mat-raised-button (click)="addNewCustomer()" color="accent" class="default-button">Add new customer</button>
    </div>
  </form>
</mat-card>

<mat-card>
  <form [formGroup]="buyStewardForm" (ngSubmit)="onSubmit()">
    <section class="row">
      <mat-form-field class="col-md-4">
        <mat-label>Target currency</mat-label>
        <mat-select formControlName="currencySwitchedTo"
                    (selectionChange)="onCurrencySwitchedToSelect($event)">
          <mat-option *ngFor="let currency of currencies" [value]="currency.name">
            {{currency.name}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="submitted && f.currencySwitchedTo.errors">
          <p *ngIf="f.currencySwitchedTo.errors.required">
            Please enter target currency
          </p>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-8">
        <mat-label>Beneficiary account number</mat-label>
        <mat-icon matPrefix>recent_actors</mat-icon>
        <input matInput placeholder="1" formControlName="beneficiaryAccount">
        <mat-error *ngIf="submitted && f.beneficiaryAccount.errors">
          <p *ngIf="f.beneficiaryAccount.errors.required">
            Please enter account number
          </p>
        </mat-error>
      </mat-form-field>
    </section>
    <section class="row">
      <mat-form-field class="col-md-4">
        <mat-label>Currency bought</mat-label>
        <mat-select formControlName="currencyBought"
                    (selectionChange)="onCurrencyBoughtSelect($event)">
          <mat-option *ngFor="let rates of exchange" [value]="rates.buyRate">
            {{rates.ccyName}} ({{rates.currency}})
          </mat-option>
        </mat-select>

        <mat-error *ngIf="submitted && f.currencyBought.errors">
          <p *ngIf="f.currencyBought.errors.required">
            Please enter currencyBought
          </p>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-8">
        <mat-label>Amount bought</mat-label>
        <mat-icon matPrefix>attach_money</mat-icon>
        <input matInput placeholder="12" formControlName="fcaAmount">
        <mat-error *ngIf="submitted && f.fcaAmount.errors">
          <p *ngIf="f.fcaAmount.errors.required">
            Please enter fca amount
          </p>
        </mat-error>
      </mat-form-field>
    </section>

    <section class="row">
      <h4 class="col-md-6">Amount paid to account:</h4>
      <h4 class="col-md-6"><em>{{amountPaid}}</em></h4>
    </section>
    <section class="row">
      <h4 class="col-md-6">Current buying rate:</h4>
      <h4 class="col-md-6"><em>{{rateUsed}}</em></h4>
    </section>
    <section class="row">
      <div class="col-xs-6"></div>
      <div class="col-xs-3">
        <button mat-stroked-button (click)="buyStewardForm.reset()" color="warn" class="default-button">Reset</button>
      </div>
      <div class="col-xs-3">
        <button mat-raised-button type="submit" class="default-button" color="primary">Transact</button>
      </div>
    </section>
  </form>
</mat-card>
