<mat-card class="mb-1">
  <form  [formGroup]="checkUserForm" (ngSubmit)="checkById()" class="row" >
    <mat-form-field class="col-xs-6">
      <mat-label>National Id</mat-label>
      <input matInput placeholder="082020936Q75" formControlName="nationalIdNumber">
      <mat-error *ngIf="submittedID && g.nationalIdNumber.errors">
        <p *ngIf="g.nationalIdNumber.errors.required">
          Please enter a national ID
        </p>
      </mat-error>
    </mat-form-field>
    <div class="col-xs-1"></div>
    <div class="col-xs-2">
      <app-button type="submit">Check customer</app-button>
    </div>
    <div class="col-xs-2">
      <app-button (click)="customerRegistrationService.open()">Add new customer</app-button>
    </div>
  </form>
</mat-card>

<mat-card >
  <form [formGroup]="buyStewardForm" (ngSubmit)="onSubmit()">
    <section class="row pc-2">
      <div class="col-md-4">
        <mat-form-field>
          <mat-label >Target currency</mat-label>
          <mat-select formControlName="currencySwitchedTo"
                      (selectionChange)="onCurrencySwitchedToSelect($event)">
            <mat-option *ngFor="let rates of exchange" [value]="rates.buyRate">
              {{rates.ccyName}} ({{rates.currency}})
            </mat-option>
          </mat-select>

          <mat-error *ngIf="submitted && f.currencySwitchedTo.errors">
            <p *ngIf="f.currencySwitchedTo.errors.required">
              Please enter target currency
            </p>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-8">
        <mat-form-field>
          <mat-label>Amount bought</mat-label>
          <input matInput placeholder="12" formControlName="amountPaid">
          <mat-error *ngIf="submitted && g.amountPaid.errors">
            <p *ngIf="f.amountPaid.errors.required">
              Please enter amount paid
            </p>
          </mat-error>
        </mat-form-field>
      </div>
    </section>
    <section class="row pc-2">
      <div class="col-md-4">
        <mat-form-field>
          <mat-label >Currency bought</mat-label>
          <mat-select name="currencyBought" formControlName="currencyBought"
                      (selectionChange)="onCurrencyBoughtSelect($event)">
            <mat-option *ngFor="let currency of currencies" [value]="currency.name">
              {{currency.name}}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="submitted && f.currencyBought.errors">
            <p *ngIf="f.currencyBought.errors.required">
              Please enter currencyBought
            </p>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-8">
        <h4><em>{{fcaAmount}}</em></h4>
      </div>
    </section>
    <section class="row pc-2">
      <div class="col-md-4">
        <section class="row">
          <div class="col-md-6">
            <h4>Current buying rate:</h4>
          </div>
          <div class="col-md-6">
            <h4><em>{{rateUsed}}</em></h4>
          </div>
        </section>
      </div>
      <div class="col-md-8">
        <mat-form-field>
          <mat-label>Steward account</mat-label>
          <input matInput placeholder="1" formControlName="beneficiaryAccount">
          <mat-error *ngIf="submitted && g.beneficiaryAccount.errors">
            <p *ngIf="f.beneficiaryAccount.errors.required">
              Please enter account
            </p>
          </mat-error>
        </mat-form-field>
      </div>
    </section>

    <section class="row  pt-2">
      <div class="col-xs-6"></div>
      <div class="col-xs-3">
        <app-button (click)="buyStewardForm.reset()">Reset</app-button>
      </div>
      <div class="col-xs-3">
        <app-button type="submit">Transact</app-button>
      </div>
    </section>
  </form>
</mat-card >
