<mat-card class="width-60">
  <mat-card-title>Add customer</mat-card-title>
  <form [formGroup]="addCustomerForm" (ngSubmit)="onSubmit()" class="row">
    <mat-form-field class="col-md-6">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" placeholder="Amal">
      <mat-error *ngIf="submitted && f.firstName.errors">
        <p *ngIf="f.firstName.errors.required">
          Please enter first name
        </p>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <mat-label>Surname</mat-label>
      <input matInput formControlName="lastName" placeholder="John">
      <mat-error *ngIf="submitted && f.lastName.errors">
        <p *ngIf="f.lastName.errors.required">
          Please enter surname
        </p>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address1" placeholder="1 House, Town road">
      <mat-error *ngIf="submitted && f.address1.errors">
        <p *ngIf="f.address1.errors.required">
          Please enter address
        </p>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <mat-label>email</mat-label>
      <input matInput formControlName="emailAddress" placeholder="EX. example@email.com">
      <mat-error *ngIf="submitted && f.emailAddress.errors">
        <p *ngIf="f.emailAddress.errors.required">
          Please enter enter address
        </p>
        <p *ngIf="f.emailAddress.errors.email">
          Please enter valid email address
        </p>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address2" placeholder="Avenues, Harare">
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <mat-label>Mobile number</mat-label>
      <input matInput formControlName="mobileNumber" placeholder="00263773123678">
      <mat-error *ngIf="submitted && f.mobileNumber.errors">
        <p *ngIf="f.mobileNumber.errors.required">
          Please enter mobile number
        </p>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <mat-label>National ID number</mat-label>
      <input matInput formControlName="nationalIdNumber" placeholder="15P2553678C80">
      <mat-error *ngIf="submitted && f.nationalIdNumber.errors">
        <p *ngIf="f.nationalIdNumber.errors.required">
          Please enter national ID number
        </p>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <mat-label>Source of funds</mat-label>
      <input matInput formControlName="sourceOfFunds" placeholder="Salary">
      <mat-error *ngIf="submitted && f.sourceOfFunds.errors">
        <p *ngIf="f.sourceOfFunds.errors.required">
          Please enter source of funds
        </p>
      </mat-error>
    </mat-form-field>

    <div class="col-md-6"></div>
    <div class="col-md-6 row">
      <app-button class="col-md-4" (click)="addCustomerForm.reset()">Reset</app-button>
      <div class="col-md-4"></div>
      <app-button class="col-md-4" type="submit">Add</app-button>
    </div>

  </form>
</mat-card>
