<app-card>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <section class="row pc-2">
      <mat-form-field class="col-md-4">
        <mat-label>Select organization</mat-label>
        <mat-select formControlName="orgId"
                    (selectionChange)="onOrganizationSelect($event)">
          <mat-option *ngFor="let organization of organizations" [value]="organization.id">
            {{organization.companyName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.orgId.errors">
          <p *ngIf="f.orgId.errors.required">
            Please select organization
          </p>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-4">
        <mat-label>Select branch</mat-label>
        <mat-select formControlName="branchId">
          <mat-option *ngFor="let branch of branches" [value]="branch.id">
            {{branch.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.branchId.errors">
          <p *ngIf="f.branchId.errors.required">
            Please select branch
          </p>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-4">
        <mat-label>Select user role</mat-label>
        <mat-select formControlName="roleId">
          <mat-option *ngFor="let role of roles" [value]="role.id">
            {{role.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.roleId.errors">
          <p *ngIf="f.roleId.errors.required">
            Please select role
          </p>
        </mat-error>
      </mat-form-field>
    </section>
    <section class="row pc-2">
      <div class="col-xs-6">
        <div class="form__group field">
          <input type="text" placeholder="first name" formControlName="firstName" class="form__field"
                 id="firstName"/>
          <em class="material-icons form__icon">
            account_circle
          </em>
          <label for="firstName" class="form__label">First name</label>
          <div class="form__error" *ngIf="submitted && f.firstName.errors">
            <p *ngIf="f.firstName.errors.required">
              Please enter first name
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form__group field">
          <input type="text" placeholder="Last number" formControlName="lastName" class="form__field"
                 id="lastName"/>
          <em class="material-icons form__icon">
            account_box
          </em>
          <label for="lastName" class="form__label">Last name</label>
          <div class="form__error" *ngIf="submitted && f.lastName.errors">
            <p *ngIf="f.lastName.errors.required">
              Please enter last name
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="row pc-2">
      <div class="col-xs-6">
        <div class="form__group field">
          <input type="text" placeholder="emailAddress" formControlName="emailAddress" class="form__field"
                 id="emailAddress"/>
          <em class="material-icons form__icon">
            mail
          </em>
          <label for="emailAddress" class="form__label">Email</label>
          <div class="form__error" *ngIf="submitted && f.firstName.errors">
            <p *ngIf="f.emailAddress.errors.required">
              Please enter email address
            </p>
            <p *ngIf="f.emailAddress.errors.email">
              Please enter correct email
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form__group field">
          <input type="text" placeholder="mobileNumber" formControlName="mobileNumber" class="form__field"
                 id="mobileNumber"/>
          <em class="material-icons form__icon">
            phone
          </em>
          <label for="mobileNumber" class="form__label">Mobile number</label>
          <div class="form__error" *ngIf="submitted && f.mobileNumber.errors">
            <p *ngIf="f.mobileNumber.errors.required">
              Please enter mobile number
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="row pc-2">
      <div class="col-xs-6">
        <div class="form__group field">
          <input type="text" placeholder="nationalIdNumber" formControlName="nationalIdNumber" class="form__field"
                 id="nationalIdNumber"/>
          <em class="material-icons form__icon">
            assignment_ind
          </em>
          <label for="nationalIdNumber" class="form__label">National ID Number</label>
          <div class="form__error" *ngIf="submitted && f.nationalIdNumber.errors">
            <p *ngIf="f.nationalIdNumber.errors.required">
              Please enter national ID Number
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 spread">
        <p class="pt-1">Untrained</p>
        <mat-slide-toggle class="pt-2" color="primary" formControlName="hasBeenTrained"></mat-slide-toggle>
        <p class="pt-1">Trained</p>
      </div>
    </section>
    <section class="row  pt-2">
      <div class="col-xs-6"></div>
      <div class="col-xs-3">
        <button mat-stroked-button (click)="userForm.reset()" color="warn" class="default-button">Reset</button>
      </div>
      <div class="col-xs-3">
        <button mat-raised-button type="submit" class="default-button" color="primary">Add</button>
      </div>
    </section>
  </form>
</app-card>
