@font-face {
  font-family: "Corisande";
  src: url("~assets/Fonts/Corisande/CorisandeRegular.ttf");
  font-weight: bold;
  font-style: oblique;
}
@font-face {
  font-family: "Corisande";
  src: url("~assets/Fonts/Corisande/CorisandeRegular.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Corisande";
  src: url("~assets/Fonts/Corisande/CorisandeRegular.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Corisande";
  src: url("~assets/Fonts/Corisande/CorisandeRegular.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Corisande";
  src: url("~assets/Fonts/Corisande/CorisandeRegular.ttf");
}
