.pb-2{
   padding-bottom: 2em;
 }
.pb-1{
  padding-bottom: 1em;
}

.mb-2{
  margin-bottom: 2em;
}
.mb-1{
  margin-bottom: 1em;
}

.pt-2{
  padding-top: 2em;
}
.pt-1{
  padding-top: 1em;
}

.pc-2{
  padding: 0 2em;
}
.pc-1{
  padding: 0 1em;
}

.pa-1{
  padding: 1em;
}

.spread{
  display: flex;
  justify-content: space-evenly;
}
.width-16{
  width: 16%!important;
}

.button-center{
  text-align: center;
}
