@import "~material-design-icons/iconfont/material-icons.css";
@import "~@angular/cdk/overlay";
@include cdk-overlay();
@import "src/scss/colors";
@import "elevation";
@import "spacers";
@import "defaultLayout";
@import "sideMenu";
@import "card";
@import "loader";
@import "components";
@import "input";
@import "header";
@import "toast";
@import "select";
@import "slider";
@import "receipt";
@import "material";

body{
  margin:0;
  padding:0;
  font-family: 'Corisande', sans-serif;
  background: $light;
}
html, body { height: 100%; }
